/*
 * This file is part of the tryton themes.
 * Please see the COPYRIGHT and README.rst files at the top level of this
 * repository for full copyright notices, license terms and support
 * information.
 */

$icon-color: #2C3E50;

$addon-icon-color: #18BC9C;
$addon-icon-color-filter: brightness(0) saturate(100%) invert(50%) sepia(98%) saturate(356%) hue-rotate(118deg) brightness(99%) contrast(94%);

$toolbar-button-padding-horizontal: 12px;
$toolbar-button-padding-vertical: 10px;

$toolbar-icon-color: #FFF;
$toolbar-icon-color-filter: brightness(0) saturate(100%) invert(100%);

$form-padding-horizontal: 4px;
$form-padding-vertical: 2px;

$panel-heading-padding: 4px;
$panel-body-padding: 0;
$panel-footer-padding: 4px;
