/*
 * This file is part of the tryton themes.
 * Please see the COPYRIGHT and README.rst files at the top level of this
 * repository for full copyright notices, license terms and support
 * information.
 */

$brand-primary: #008cba;

$font-size-base: 16px;
$font-size-small: 14px;

$form-padding-horizontal: 4px;
$form-padding-vertical: 2px;

$panel-heading-padding: 4px;
$panel-body-padding: 0;
$panel-footer-padding: 4px;

$toolbar-button-padding-horizontal: 10px;
$toolbar-button-padding-vertical: 8px;

$icon-color: #008cba;
$toolbar-icon-color: #333;
$toolbar-icon-color-filter: brightness(0) saturate(100%) invert(17%) sepia(1%) saturate(2978%) hue-rotate(17deg) brightness(94%) contrast(87%);
$addon-icon-color: #999;
$addon-icon-color-filter: brightness(0) saturate(100%) invert(72%) sepia(1%) saturate(401%) hue-rotate(325deg) brightness(86%) contrast(85%);

$navbar-default-border: #DDD;

$navbar-inverse-bg: $brand-primary;
$navbar-inverse-border: adjust-color($brand-primary, $saturation: -10%, $lightness: -10%);
$navbar-inverse-link-color: white;
$navbar-inverse-toggle-hover-bg: rgba(0,0,0,0.5);
$navbar-inverse-toggle-icon-bar-bg: rgba(0,0,0,0.5);
