/*
 * This file is part of the tryton themes.
 * Please see the COPYRIGHT and README.rst files at the top level of this
 * repository for full copyright notices, license terms and support
 * information.
 */

.navbar-default .nav-tabs {
  > li > a {
    border-color: $navbar-tabs-border;
  }

  > li.active > a {
    &,
    &:focus,
    &:hover {
      border-color: $navbar-tabs-border;
    }
  }
}

// Ensure the bottom of the tab doesn't overlap
.navbar .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}
