/*
 * This file is part of the tryton themes.
 * Please see the COPYRIGHT and README.rst files at the top level of this
 * repository for full copyright notices, license terms and support
 * information.
 */

// Ensure the toggle doesn't increase the height of the navbar
.navbar-toggle {
  padding-top: ($navbar-height - $line-height-computed - 16px - 2px) / 2;
  padding-bottom: ($navbar-height - $line-height-computed - 16px - 2px) / 2;
}

// Ensure the logout button doesn't increase the height of the navbar
#user-logout > a {
  padding-top: ($navbar-height - $line-height-computed) / 2;
  padding-bottom: ($navbar-height - $line-height-computed) / 2;
}

// Position the search box centrally
#global-search {
  margin-top: ($navbar-height - $input-height-small) / 2;
  margin-bottom: ($navbar-height - $input-height-small) / 2;
}

// Hide the search box if the user-favourites is not there
#user-favorites:empty ~ input {
  display: none;
}

// Make the icons white on inverted navbars
.navbar-inverse a > img.icon {
  filter: grayscale(100%) brightness(5000%);
}

// Style the borders on inverted navbars
.navbar-inverse .navbar-nav > li > a {
  border-color: $navbar-tabs-border;
}

// Make unselected inverted navbar tabs inherit their colour
.navbar-inverse .navbar-nav > li > a {
  background-color: inherit;
}

// Dont let tabs overlap the space below the navbar
#main_navbar > .nav-tabs > li > a {
  border-bottom: none;
}
