/*
 * This file is part of the tryton themes.
 * Please see the COPYRIGHT and README.rst files at the top level of this
 * repository for full copyright notices, license terms and support
 * information.
 */

$icon-color: $brand-primary !default;
$menu-icon-color: $icon-color !default;
$menu-icon-color-filter: unset !default;
$toolbar-icon-color: $icon-color !default;
$toolbar-icon-color-filter: unset !default;
$addon-icon-color: $icon-color !default;
$addon-icon-color-filter: unset !default;

$input-icon-base: $font-size-base * 1.5 !default;
$input-icon-small: $font-size-small * 1.5 !default;

$input-icon-padding-base: ($input-height-base - $input-icon-base - 2px) / 2 !default;
$input-icon-padding-small: ($input-height-small - $input-icon-small - 2px) / 2 !default;

$font-size-tiny: floor($font-size-small * 0.85) !default;
$font-size-form-section: $font-size-base !default;

$headings-font-style: normal !default;

$form-outer-margin: 10px !default;

$form-padding-vertical: 1px !default;
$form-padding-horizontal: 1px !default;
$form-toolbar-button-width: $input-height-small * 1.2 !default;

$form-heading-padding: floor(($grid-gutter-width / 2)) !default;
$form-section-margin: $padding-base-vertical !default;
$form-section-border: $panel-default-border !default;

$filter-box-padding: $padding-base-horizontal / 2 !default;

$nav-tabs-padding-horizontal: $padding-base-horizontal !default;
$nav-tabs-padding-vertical: $padding-base-vertical !default;

$button-icon-text-spacing: $padding-xs-horizontal !default;

$toolbar-button-padding-horizontal: $input-icon-padding-base * 2 !default;
$toolbar-button-padding-vertical: $input-icon-padding-base * 1.5 !default;

$tabs-bg: $body-bg !default;

$menu-bg: #F8F8F8 !default;
$menu-color: $text-color !default;

$navbar-tabs-border: $brand-primary !default;
