/*
 * This file is part of the tryton themes.
 * Please see the COPYRIGHT and README.rst files at the top level of this
 * repository for full copyright notices, license terms and support
 * information.
 */

$font-size-base: 16px;
$font-size-small: 16px;

$form-padding-horizontal: 4px;
$form-padding-vertical: 2px;

$panel-heading-padding: 0;
$panel-body-padding: 0;
$panel-footer-padding: 0;

$line-height-base: 1.25;
$line-height-small: 1.25;
$line-height-large: 1.25;

$input-icon-small: 20px;
